<div class="col-md-4 trail-display">
  <div class="trail-display-name">
    {{#link-to 'trail' trail.id}}
      {{trail.name}}
    {{/link-to}}
  </div>
  {{#link-to 'trail' trail.id}}
    <img class="img-responsive trail-image" src="{{trail.image}}">
  {{/link-to}}
</div>
