.main-jumbotron {
  background-image: url("/assets/images/hike.jpg");
  text-align: center;
  background-size:cover;
  margin:0px;
}

.main-logo {
  margin: 5px;
}

body {
  font-family: 'Raleway', sans-serif;
}

.navbar-link {
  color: black !important;
  font-size: 1.5em;
}

.trail-display {
  height:30rem;
  margin-botton:5%;
}

.trail-display img{
  padding-bottom:18rem;
  width: 50rem;
  height: 45rem;
  border-radius: 2%;
}

.trail-display-name {
  position: absolute;
  margin-left: 0rem;
  margin-top: 20rem;
  background: rgba(0,0,0,0.4);
  color: #fff;
  padding-left: 3rem;
  padding-right: 3rem;
  border-radius: 10px;
  font-size: 1.2em;
  max-width: 30rem;
}

.trail-wrapper {
  margin-top:10rem;
  margin-left:45rem;
  margin-right:10rem;

}

.trail-header {
  margin-top:8rem;
  font-size: 3em;
  color:black;
  font-weight: 400;
  text-align:center;
}


.trail-description {
  max-width:85%;
  margin-left:6%;
  font-size:1.2em;
}

.trail-details {
  font-size: 1.0em;
  font-weight:300;
  max-width:85%;
  margin-left:6%;
}

a {
  text-decoration:none;
  color:#fff;
  transition: color .5s linear;
}

a:hover {
  color:#989898  ;
  text-decoration:none;
  transition: color .5s linear;
}
